<main>
    <article>
        <h2>Work</h2>
        <blockquote>
            <p>I used to make things for a defense contractor {{ 'work-lm'|footnote }} <abbr title="and per se and" class="amp">&amp;</abbr> now I make things for academia.  {{ 'work-lebow'|footnote }}</p>
        </blockquote>
    </article>

    <article>
        <h2>Code</h2>
        <blockquote>
            <p>I do web stuff  {{ 'code-stuff'|footnote }} with languages, {{ 'code-lang'|footnote }}
                frameworks, {{ 'code-fw'|footnote }}
                <abbr title="and per se and" class="amp">&amp;</abbr>
                content management systems. {{ 'code-cms'|footnote }}</p>
        </blockquote>
    </article>

    <article>
        <h2>Mind</h2>
        <blockquote>
            <p>I undergrad-ed at an art school, {{ 'mind-ug'|footnote }} then I grad-ed at a technology school, {{ 'mind-gr'|footnote }} <abbr title="and per se and" class="amp">&amp;</abbr> now I'm self-educating.</p>
        </blockquote>
    </article>

    <article>
        <h2>Play</h2>
        <blockquote>
            <p>I live in Philadelphia. I ride my bicycle, I make noise {{ 'play-sr'|footnote }} {{ 'play-lockets'|footnote }}, <abbr title="and per se and" class="amp">&amp;</abbr> I watch MacGyver.</p>
        </blockquote>
    </article>
</main>
